
html {
  font-size: 15px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: FFFFFF;
}
@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .container {
    display: flex;
    flex-direction: column!important;
  }

}

:root {
  --white: #F3F4F5;
  --hcolor: #2C3143;
  --light-grey: #969BAE;
  --grey: #6773A0;
  --blue: #205EFF;
  --border-color: #F3F4F5;
}
.li-container {
  display: grid;
} 
.card  {
  border: 1px solid var(--border-color);
}
.page-container {
  margin: 0 auto;
  width: 878px;
  height: 477px;
}

.header {
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid var( --border-color);
  color:var(--hcolor)
}

.page-title {
margin-left: 2rem;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px;
letter-spacing: -0.01em;
text-align: left;
}

.close-icon {
  margin-left: auto;
  margin-right: 24px;
}

.plan-name {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plan-name > div {
  margin-left: 4rem;
}
.plan {
  width: 40vw;
}

.subscribe-plan {
  width: 60vw;
  border-right: 1px solid var( --border-color);
  font-size: 15px;

}

.container {
  display: flex;
  flex-direction: row;
}
.card {
  min-width: 172px;
  cursor: pointer;
}

.card-clicked{
  color: blue;
}

.card-container {
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  border-bottom: 1px solid var( --border-color);
  gap: 2rem;
  margin-bottom: 10px;
}

.bold-header {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
}

.price-card{
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.price:before, .price-card:before{
  content: '$';
}