html {
  font-size: 15px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: FFFFFF;
}
@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .container {
    display: flex;
    flex-direction: column !important;
  }
}



:root {
  --white: #f3f4f5;
  --hcolor: #2c3143;
  --light-grey: #969bae;
  --grey: #6773a0;
  --blue: #205eff;
  --border-color: #f3f4f5;
  --font-color: #969fbf;
}

div.card {
  border: 1px solid var(--border-color);
  width: 172px;
  height: 162px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.card > h1 {
  position: absolute;
  width: 82px;
  height: 17px;
  margin-left: 12px;
  margin-top: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: -0.01em;
  color: var(--hcolor);
}

.card > ul,
.card > ul > li {
  list-style-type: none;
}

.card > ul {
  position: absolute;
  width: 183px;
  height: 45px;
  margin-top: 40px;
  padding: 0;
  margin-left: 0;
}
.card > ul > li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  margin-left: 12px;
}
.card > .price-card {
  width: 48px;
  height: 26px;
  margin-left: 12px;
  margin-top: 99px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 125%;
}
.page-container {
  margin-top: 0;
  margin-left: 0;
  width: 878px;
  height: 477px;
  border: 1px solid var(--border-color);
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(56, 69, 117, 0.25);
  border-radius: 6px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.page-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 125%;
  color: var(--hcolor);
  width: 229px;
  height: 23px;
  margin-left: 30px;
  margin-top: 19px;
}

.plan-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  margin-top: 13px;
}

.plan {
  width: 247px;
  height: 200px;
}

.plan-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.chosen-plan {
  padding: 0px;
  height: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 501;
  font-size: 12px;
  line-height: 15px;
  width: 140px;
  letter-spacing: 0.02em;
  color: #2c3143;
}
.plan-name > .price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
  width: 57px;
}
.subscribe-plan {
  width: 630px;
  border-right: 1px solid var(--border-color);
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: row;
}

.card-clicked {
  color: var(--blue);
}

.close-icon > svg {
  width: 14px;
  height: 14px;
  margin-left: calc(841px - 30px - 229px);
  color: #8c8c8c;
}

.card-container {
  display: flex;
  margin-bottom: 10px;
  margin-top: calc(107px - 60px - 18px - 21px);
  margin-left: 30px;
  gap: 12px;
}

.card > a {
  width: 67px;
  height: 14px;
  margin-left: 12px;
  margin-top: 133px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  text-decoration-line: underline;
  color: var(--blue);
}
.card > ul::after {
  margin: 0;
}
div.card:active {
  border: 2px solid var(--blue);
}

.active {
  color: var(--blue);
}

.bold-header {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 30px;
  margin-top: 21px;
  height: 18px;
  padding: 0;
  margin-bottom: 0;
  color: var(--grey);
}

.price-card {
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.price::before,
.price-card::before {
  content: '$';
}

.card:not(last-child) {
  color: var(--font-color);
}

form.slots-form {
  display: grid;
  background: #ffffff;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;
  height: 42px;
  width: 79px;
  margin-top: 8px;
  margin-left: 30px;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
}

.slots-form > input {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 125%;
  width: 30px;
  height: 26px;
  margin: 6px 7px 6px 6px;
  border: none;
  background: none;
  cursor: auto;
  outline: none;
}

div.button-choose-slots {
  display: flex;
  flex-direction: column;
  position: relative;
}

div.button-choose-slots > button {
  border: none;
  color: var(--light-grey);
  background-color: white;
  height: 20px;
  outline: none;
  font-size: 16px;
}

.error {
  border: 1px solid #ec5a75 !important;
}

section > .bold-header {
  margin-bottom: 0;
}

.text-error {
  width: 267px;
  height: 30px;
  margin-left: 10px;
  margin-top: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  color: #ec5a75;
}

.slots-area {
  display: flex;
}

.text-error {
  display: none;
}

.more {
  width: 67px;
  height: 14px;
  margin-left: 12px;
  margin-top: 133px;
  margin-bottom: 15px;
}
footer {
  height: calc(85px + 22px);
  display: flex;
  align-items:center;
  justify-content:center;
}
section.next {
  display: flex;
  flex-direction: row;
  width: 630px;
  align-items: center;
}

section.total-balance {
  width: calc(878px - 631px);
  align-items: center;
  border-left:1px solid var(--border-color);

}


footer input[type='button'] {
  background-color: var(--blue);
  height: 39px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  border-radius: 4px;
  font-size: 13px;
  line-height: 39px;
  text-align: center;
  color: #f4f7ff;
  outline: none;
  cursor: pointer;
}

footer input[type='button'].next {
  margin-left: 30px;
  padding:0  25px;
}
footer input[type='button'].balance-check{
  margin-right: 22px;
  width: 120px;
  margin-top: 0;
  padding:0  22px;
  margin-bottom: 30px;
}

.comeback {
margin-left: 14px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 36px;
text-align: center;
color: var(--blue);
align-self: center;
}

.comeback > svg {
  font-size: 10px;
  font-weight: bold;
}

.step-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 20px;
  height: 18px;
  justify-content: center;
  align-items: flex-start;

}
 .plan-value{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  text-align: right;
  letter-spacing: -0.01em;
  width: 99px;
  height: 15px;
  color: #2C3143;
  margin-left: 50px;

}
 .step-value{
font-family: Montserrat;
font-style: normal;
align-self: center;
font-weight: 500;
font-size: 13px;
line-height: 125%;
color: #76757E;
  }

.progress {
  width: 200px;
  height: 4px;
  margin-bottom: 16px;
  border-radius: 4px;
  background-color: #D6E3FF; 
  position: relative;
  margin-top: 5px;
}

.progress > span {
  display: block;
  height: 100%;
  width: 33%;
  background-color: var(--blue);
  position: relative;
  border-radius: 2px 0px 0px 2px;
}

.total{
  display: flex;
  text-align: right;
  align-items:flex-start;
  margin-bottom: 14px;
  
}

.total > span.price {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 107%;
color: #34324F;
height: 17px;
margin-left: 7px;
margin-top: 0px;
}

.total:first-child{
font-family: Montserrat;
font-style: normal;
margin-left: 103px;
font-weight: 500;
font-size: 12px;
line-height: 125%;
height: 17px;
margin-top: 0px;
}
.balance {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 16px;
  vertical-align: top;
}

.checkout {
  display: flex;
  flex-direction: row;
}
.balance > h2 {
width: 79px;
height: 15px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
margin: 0;
text-align: right;
color: #9B99AE;
}
div.price {
width: 57px;
height: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: right;
color: #34324F;
}

.period {
  width: 630px;
  border-right: 1px solid var(--border-color);
  font-size: 15px;
}

.period-form-input {
  margin-top: 7px;
  margin-left: 30px;
  width: 258px;
  height: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background: #FFFFFF;
border: 2px solid #205EFF;
box-sizing: border-box;
border-radius: 4px;
position: absolute;
}

.caret-down {
  position: relative;
  margin-left: 255px;
  margin-top: 19px;

}

input::-webkit-calendar-picker-indicator {
  display: none;
}


