.li-container {
  display: grid;
} 
.card  {
  border: 3px solid red;
}
html {
  font-size: 15px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .container {
    display: flex;
    flex-direction: column!important;
  }

}

:root {
  --white: #F3F4F5;
  --hcolor: #2C3143;
  --light-grey: #969BAE;
  --grey: #6773A0;
  --blue: #205EFF;
  --border-color: #F3F4F5;
}

.header {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid var( --border-color);
  font-size: 1.2rem;
  line-height: 22,5px;
  font-weight: 700;
  color:var(--hcolor)
}
.header > header {
  margin-left: 2rem;
}

.header > div {
  margin: auto;
  margin-right: 24px;
  width: 229px;
}

.plan-name {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plan-name > div {
  margin-left: 4rem;
}
.plan {
  width: 40vw;
}

.subscribe-plan {
  width: 60vw;
  border-right: 1px solid var( --border-color);
  font-size: 15px;

}

.container {
  display: flex;
  flex-direction: row;
}
.card {
  min-width: 172px;
  cursor: pointer;
}

.card-container {
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  border-bottom: 1px solid var( --border-color);
  gap: 2rem;
}