html {
  font-size: 15px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: FFFFFF;
}
@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .container {
    display: flex;
    flex-direction: column !important;
  }
}

:root {
  --white: #f3f4f5;
  --hcolor: #2c3143;
  --light-grey: #969bae;
  --grey: #6773a0;
  --blue: #205eff;
  --border-color: #f3f4f5;
  --font-color: #969fbf;
}

div.card {
  border: 1px solid var(--border-color);
  width: 172px;
  height: 162px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.card > h1 {
  position: absolute;
  width: 82px;
  height: 17px;
  margin-left: 12px;
  margin-top: 18px;
  font-weight: 600;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: -0.01em;
  color: var(--hcolor);
}

.card > ul,
.card > ul > li {
  list-style-type: none;
}

.card > ul {
  position: absolute;
  width: 183px;
  height: 45px;
  margin-top: 40px;
  padding: 0;
  margin-left: 0;
}
.card > ul > li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  margin-left: 12px;
}
.card > .price-card {
  width: 48px;
  height: 26px;
  margin-left: 12px;
  margin-top: 99px;
  font-weight: bold;
  font-size: 21px;
  line-height: 125%;
}
.page-container {
  margin-top: 0;
  margin-left: 0;
  width: 878px;
  height: 477px;
  border: 1px solid var(--border-color);
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(56, 69, 117, 0.25);
  border-radius: 6px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.page-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 125%;
  color: var(--hcolor);
  width: 229px;
  height: 23px;
  margin-left: 30px;
  margin-top: 19px;
}

.plan-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  margin-top: 13px;
}

.plan {
  width: 247px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.plan-name,
.term-name,
.discount-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.chosen-plan,
.chosen-term,
.discount {
  padding: 0px;
  height: 15px;
  font-weight: 501;
  font-size: 12px;
  line-height: 15px;
  width: 140px;
  letter-spacing: 0.02em;
  color: #2c3143;
}
.chosen-term,
.discount {
  margin-left: 30px;
}
.plan-name > .price,
.term-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
  width: 57px;
}
.subscribe-plan {
  width: 630px;
  border-right: 1px solid var(--border-color);
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: row;
}

.card-clicked {
  color: var(--blue);
}

.close-icon > svg {
  width: 14px;
  height: 14px;
  margin-left: calc(841px - 30px - 229px);
  color: #8c8c8c;
}

.card-container {
  display: flex;
  margin-bottom: 10px;
  margin-top: calc(107px - 60px - 18px - 21px);
  margin-left: 30px;
  gap: 12px;
}

.card > a {
  width: 67px;
  height: 14px;
  margin-left: 12px;
  margin-top: 133px;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  text-decoration-line: underline;
  color: var(--blue);
}
.card > ul::after {
  margin: 0;
}
div.card:active {
  border: 2px solid var(--blue);
}

.active {
  color: var(--blue);
}

.bold-header {
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 30px;
  margin-top: 21px;
  height: 18px;
  padding: 0;
  margin-bottom: 0;
  color: var(--grey);
}

.price-card {
  font-size: 21px;
  font-weight: 600 !important;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.price::before,
.price-card::before {
  content: '$';
}

.card:not(last-child) {
  color: var(--font-color);
}

form.slots-form {
  display: grid;
  background: #ffffff;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;
  height: 42px;
  width: 79px;
  margin-top: 8px;
  margin-left: 30px;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
}

.slots-form > input {
  font-weight: 500;
  font-size: 13px;
  line-height: 125%;
  width: 30px;
  height: 26px;
  margin: 6px 7px 6px 6px;
  border: none;
  background: none;
  cursor: auto;
  outline: none;
}

div.button-choose-slots {
  display: flex;
  flex-direction: column;
  position: relative;
}

div.button-choose-slots > button {
  border: none;
  color: var(--light-grey);
  background-color: white;
  height: 20px;
  outline: none;
  font-size: 16px;
}

.error {
  border: 1px solid #ec5a75 !important;
}

section > .bold-header {
  margin-bottom: 0;
}

.text-error {
  width: 267px;
  height: 30px;
  margin-left: 10px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  color: #ec5a75;
}

.slots-area {
  display: flex;
}

.text-error {
  display: none;
}

.more {
  width: 67px;
  height: 14px;
  margin-left: 12px;
  margin-top: 133px;
  margin-bottom: 15px;
}
footer {
  height: calc(85px + 28px);
  display: flex;
  align-items: center;
  justify-content: center;
}
section.next {
  display: flex;
  flex-direction: row;
  width: 630px;
  align-items: center;
}

section.total-balance {
  width: calc(878px - 631px);
  align-items: center;
  border-left: 1px solid var(--border-color);
}

footer input[type='button'],
.see-request {
  background-color: var(--blue);
  font-family: Montserrat;
  height: 39px;
  border: none;
  font-style: normal;
  border-radius: 4px;
  font-size: 13px;
  line-height: 39px;
  text-align: center;
  color: #f4f7ff;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}

footer input[type='button'].next {
  margin-left: 30px;
  padding: 0 25px;
}
footer input[type='button'].balance-check {
  margin-right: 22px;
  width: 120px;
  margin-top: 0;
  padding: 0 22px;
  margin-bottom: 30px;
}

.comeback {
  margin-left: 14px;
  font-weight: 600;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  color: var(--blue);
  align-self: center;
}

.comeback > svg {
  font-size: 10px;
  font-weight: bold;
}

.step-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 20px;
  height: 18px;
  justify-content: center;
  align-items: flex-start;
}
.plan-value {
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  text-align: right;
  letter-spacing: -0.01em;
  width: 99px;
  height: 15px;
  color: #2c3143;
  margin-left: 50px;
}
.step-value {
  align-self: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 125%;
  color: #76757e;
}

.progress {
  width: 200px;
  height: 4px;
  margin-bottom: 16px;
  border-radius: 4px;
  background-color: #d6e3ff;
  position: relative;
  margin-top: 5px;
}

.progress > span {
  display: block;
  height: 100%;
  width: 33%;
  background-color: var(--blue);
  position: relative;
  border-radius: 2px 2px 2px 2px;
}

.total {
  display: flex;
  text-align: right;
  align-items: flex-start;
  margin-bottom: 14px;
}

.total > span.price {
  font-weight: bold;
  font-size: 16px;
  line-height: 107%;
  color: #34324f;
  height: 17px;
  margin-left: 7px;
  margin-top: 0px;
}

.total:first-child {
  margin-left: 103px;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  height: 17px;
  margin-top: 0px;
}
.balance {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 16px;
  vertical-align: top;
}

.checkout {
  display: flex;
  flex-direction: row;
}
.balance > h2 {
  width: 79px;
  height: 15px;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  text-align: right;
  color: #9b99ae;
}
div.price,
.discount-val {
  width: 57px;
  height: 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #34324f;
}

div.term-price {
  width: 57px;
  height: 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #34324f;
}
.period,
.top-up-balance {
  width: 630px;
  border-right: 1px solid var(--border-color);
  font-size: 15px;
  height: 313px;
}

.form-input {
  margin-top: 7px;
  margin-left: 30px;
  width: 258px;
  height: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background: #ffffff;
  border: 2px solid #205eff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px;
  appearance: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 125%;
  color: #76757e;
}

.input-area {
  position: relative;
}
.input-area > span {
  display: block;
  position: absolute;
  top: 20px;
  right: 360px;
  color: var(--blue);
  font-weight: 800;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
.purchase-form {
  height: 15px;
  left: 30px;
  font-weight: 600;
  font-size: 12px;
  top: 112px;
  letter-spacing: -0.01em;
  color: #7b7b83;
  margin-top: 13px;
  margin-left: 30px;
}
.form-input[type='text'] {
  border: 1px solid #f1f2f5;
}

div.plan {
  margin: 0 auto;
}

.purchase-types {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-top: 12px;
  margin-left: 30px;
  gap: 40px;
}

.first,
.second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 180px;
  height: 79px;
  left: 0px;
  top: 0px;
  gap: 16px;
}

label {
  height: 15px;
  left: 52px;
  top: 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  color: #474e69;
}

label > img {
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: middle;
}

input[type='radio'] {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid #b8c5f4;
  box-sizing: border-box;
  border-radius: 17px;
  outline: none;
  vertical-align: middle;
}

input[type='radio']:checked {
  border: 2px solid var(--blue);
  border-radius: 17px;
  background-color: #b8c5f4;
}

.success {
  text-align: center;
  margin-top: 88px;
  width: 247px;
  border: 1px dashed var(--light-grey);
  margin: 0 auto;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 20px;
}
.success > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  text-align: center;
  position: absolute;
  left: 24.26%;
  right: 24.26%;
  top: 28.93%;
  bottom: 64.78%;
  color: #969bae;
}

.success > h1 {
  position: absolute;
  width: 68px;
  height: 23px;
  left: 405px;
  top: 111px;
  color: var(--blue);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
}

.description {
  width: 140px;
  height: 14px;
  margin-top: -18px;
  font-weight: 500;
  font-size: 11px;
  line-height: 125%;
  color: #9b99ae;
  margin-left: 30px;
}

.term-price::before {
  content: 'X ';
}

.discount-val:before {
  content: '- ';
}

.discount-val {
  color: var(--blue);
}
