html {
  font-size: 15px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: FFFFFF;
}
@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
  .container {
    display: flex;
    flex-direction: column !important;
  }
}

:root {
  --white: #f3f4f5;
  --hcolor: #2c3143;
  --light-grey: #969bae;
  --grey: #6773a0;
  --blue: #205eff;
  --border-color: #f3f4f5;
}
.li-container {
  display: grid;
}
.card {
border: 1px solid var(--border-color);
width: 172px;
height: 162px;
background: #FFFFFF;
box-sizing: border-box;
border-radius: 4px;
}

.card > h3 {
  position: absolute;
  width: 82px;
  height: 17px;
  margin-left: 12px;
  margin-top: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: -0.01em;
}

.card > ul, .card > ul > li {
  list-style-type: none;
}

.card > ul {
  position: absolute;
  width: 183px;
  height: 45px;
  margin-top: 40px;
  padding: 0;
  margin-left: 0;
}
.card > ul > li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  margin-left: 12px;

}
.card > .price-card {
  width: 48px;
  height: 26px;
  margin-left: 12px;
  margin-top: 99px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 125%;
}
.page-container {
  margin-top: 0;
  margin-left: 0;
  width: 878px;
  height: 477px;
  border: 1px solid var(--border-color);
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(56, 69, 117, 0.25);
  border-radius: 6px;
}

.header {
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  color: var(--hcolor);
}

.page-title {
  margin-left: 2rem;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.01em;
  text-align: left;
}

.close-icon {
  margin-left: auto;
  margin-right: 24px;
}

.plan-name {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plan-name > div {
  margin-left: 4rem;
}
.plan {
  width: calc(95px + 16px + 136px);
}

.subscribe-plan {
  width: calc(878px - 95px - 16px - 136px);
  border-right: 1px solid var(--border-color);
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: row;
}

.card-clicked {
  color: blue;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: calc(107px - 60px - 18px - 21px);
}

.card > a {
width: 67px;
height: 14px;
margin-left: 12px;
margin-top: 133px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 14px;
text-decoration-line: underline;
color: var(--blue)
}
.card > ul::after{
  margin: 0;
}

.bold-header {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 30px;
  margin-top: 21px;
  height: 18px;
  padding: 0;
}

.price-card {
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.price:before,
.price-card:before {
  content: '$';
}

